<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=2">	

	@if (IsSectionDefined("AddToHead"))
	{
		@RenderSection("AddToHead", required: false)
	}
	
	<title>@ViewBag.Title</title>
</head>
<body>
	@RenderBody()
</body>
</html>
