<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=2">
	<link rel="stylesheet" type="text/css" media="screen" href="css/styles.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />

	@if (IsSectionDefined("AddToHead"))
	{
		@RenderSection("AddToHead", required: false)
	}

	<script data-main="main" src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
	<title>@ViewBag.Title</title>
</head>
<body>
	@RenderBody()
</body>
</html>
