
input {
	outline: none;
}

.content { 

	overflow: hidden;
	font-family: "Arial";
	color: #373737;	
	font-size: 33px;
	line-height: 120%;
	min-height: 400px;
	max-width: 500px;
	margin: 0 auto;
}

.header {

	padding: 19px 0 0 19px;	
	height: 85px;
	background: #bfbfbf;
	box-shadow: 0px 4px 4px #ddd;
	margin-bottom: 50px;
	position: relative; top: 0; left: 0;
}

.create-task-icon {
	position: absolute; right: 30px; top: 27px;
	width: 31px; height: 31px;
	background: url(../images/cross.png) no-repeat;
	cursor: pointer;
}

.search-block {

	position: relative; top: 0; left: 0;
	max-width: 348px;
	width: 70%;
	height: 47px;

	padding: 5px 10px 0 60px;
	background: #eee url(../images/icon-search.png) 12px center no-repeat;

	border-radius: 10px;	
}

.search-input {	
	
	display: block;
	width: 100%;	
	height: 37px;
	background: none;
	border: none;
	vertical-align: middle;
}

.popup_task_search {	
	width: 100%;
	height: 257px;	
	left: 0px;
	top: 70px;
}

.popup_task_search::before {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 50px; top: -36px; /* Положение треугольника */
    border: solid transparent; /* Прозрачные границы */    
    border-bottom: solid #fff; /* Добавляем треугольник */
    border-width: 15px 15px 21px;
}


.task-list {
	margin: 0 0 0 28px;
}

.task-item {
	
	position: relative; top: 0; left: 0;
	margin-top: 20px;
	line-height: 100%;
	padding-left: 50px;	
}

.task-completed-icon {
	position: absolute; top: 0; left: 0;
	width: 32px; height: 32px;
	background: url(../images/check-empty.png) no-repeat;
	cursor: pointer;
}

.task-completed-icon_status_true {
	background: url(../images/check-checked.png) no-repeat;
}

.task-date {
	font-size: 20px;	
}

.popup { 
	
	padding: 16px;
	margin: 0;
	background: #fff;
	border: 1px solid #b8b8b8;
	border-radius: 4px;
	position: absolute;
	z-index: 100;	
}

.popup_task_create {
	left: 0;
	width: 100%;
	top: 90px;
}

.task-create-inputs {
	position: relative; top: 0; left: 0;
	padding-left: 50px;	
}

.task-create-input {
	border: 1px solid #b8b8b8;
	display: block;
	width: 100%;
}

.task-create-inputs__desc {
	height: 119px;
}

.task-create-inputs__date {	
	height: 38px;
	margin: 20px 0;	
}

.popup_task_create::before {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    right: 30px; top: -36px; /* Положение треугольника */
    border: solid transparent; /* Прозрачные границы */    
    border-bottom: solid #fff; /* Добавляем треугольник */
    border-width: 15px 15px 21px;
}

.task-list_block_search {	
	overflow-y: auto;
	overflow-x: hidden;

	width: auto;
	margin: 0;
	height: 100%;
}

.item-match { text-decoration: underline; }

.task-item_separator_true {
	border-bottom: 1px solid #b8b8b8;
	margin: 0px 0 10px;
}

.task-item_block_search {
	padding: 5px;	
	font-size: 21px;
	line-height: 100%;	
	height: 67px;
	cursor: pointer;
	margin: 0;
}

.task-item_block_search:hover {
	color: #dddddd;
	background-color: #4260c2;
}


.task-date_block_search { 
	font-size: 13px;
}

.task-date_status_completed {
	color: #9ec54d
}

.task-date_status_todo {
	color: #61acec	
}

.task-date_status_overdue {
	color: #e55c9a
}

.task-date_status_future {
	color: #b8b8b8
}

.chart { 
	position: absolute; top: 0; left: 0; width: 100%;
}

.chart-wrap {
	
	display: block;
	margin: 60px auto 30px;
	width: 290px;
	height: 290px;
	overflow: hidden;
	position: relative; top: 0; left: 0;
}

@media screen and (max-width: 420px) {
	.content {
		font-size: 20px;
	}
	
	.task-date {
		font-size: 12px;	
	}
	
	.task-item_block_search {
		font-size: 13px;
	}
	
	.task-date_block_search {
		font-size: 8px;
	}
}
